/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
    max-width: 100%;
    outline: 1px solid black;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 3.0rem;
    line-height: 50px;
}

header {
    background-color: bisque;
    padding: 2%;
    text-align: center;
    text-decoration: none;
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.top-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-image {
    padding: 50px;
}

.top-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
}

.bottom-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
}

.img {
    padding: 20px;
}


footer {
    background-color: bisque;
    text-align: center;
}

button {
    background-color: black;

}

button:hover {
    background-color: whitesmoke;
}

button a {
    color: white;
    text-decoration: none;
}

button a:hover {
    color: black;
}

h1 {
    font-family: Impact;
    font-size: 75px;
    padding: 10px;
    margin: 10px;
}